<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<!----------------------------------HEADER------------------------>
		<div th:insert="fragments/headers/header :: changeable_pages"></div>
		<!---------------------------------------------------------------->
	</head>
	<body>
		<div class="main">

			<!----------------------HOME AND LOGOUT BUTTON---------------->
			<div th:insert="fragments/common/home_button :: go_home"></div>
			<!------------------------------------------------------------>

			<!------------------------------------TOP LABELS---------------------------------------->
			<div th:insert="fragments/pages/attic/labels :: booking"></div>
			<!-------------------------------------------------------------------------------------->

			<!----------------------------UNDER LABEL LEAD INFO------------------------>
			<div th:insert="fragments/pages/attic/under_label :: brief_lead_info"></div>
			<!------------------------------------------------------------------------->

			<div id="content">

				<!--------------------------------2.1, 2.2, 2.3-------------------------------------->
				<div th:insert="fragments/pages/page_2_booking_bits/booking_all_ch::changeable"></div>
				<!----------------------------------------------------------------------------------->

				<!--- BOOTOM COMFORT BLOCK 	----------->
				<div class="bottom_comfort_block"></div>
				<!------------------------------------->

			</div>
			<!--------------------------------------------------------------------------------->
		</div>
		<!----------------------------------------    end of main block  ----------------------------------------->
	</body>
	<!---------------------------------FOOTER-------------------------->
	<div th:insert="fragments/footers/footer :: changeable_pages"></div>
	<!----------------------------------------------------------------->
</html>
