<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<div th:fragment="advertisment">



		<!-------------------------------- 4.4	------------------------------->

<!--		<div class="central_container">-->
<!--			<div class="table_header"><p> 4.4. Текст объявления </p></div>-->
<!--			<div style="width: 80%; margin: 5px auto">-->
<!--				<form action="/update/user/advertisment" method="post">-->

<!--						<textarea type="text" rows="15" cols="50" wrap="hard" class="auto_height" name="advetisment"-->
<!--								  oninput="auto_height(this)" th:text="${appl.getAdvertisment}" th:placeholder="'текст объявления...'">-->
<!--						</textarea>-->

<!--					<div style="height: 200px;">-->
<!--						<div style="float: left; ">-->
<!--							<br/>-->
<!--							<br/>-->
<!--							<br/>-->
<!--							<input class="hidden_input" type="text" name="id" th:value="${person.getId}">-->
<!--							<input class="hidden_input" type="text" name="applId" th:value="${appl.getId}">-->
<!--							<input type="submit" class="send_post_button" value="сохранить текст объявления">-->
<!--						</div>-->
<!--					</div>-->

<!--				</form>-->
<!--			</div>-->
<!--		</div>-->



	</div>
</html>
