<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>Вход</title>

		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/login.css}">
		
	</head>
	<body>
		<div class="main">



			<div class="login_div">

				<br>
				<h1>Для входа в систему введите логин и пароль</h1>
				<br>

				<form th:action="@{/login}" method="post">
					<input class="login_input" type="text" name="username" placeholder="Введите логин">
					<br>
					<input class="login_input" type="password" name="password" placeholder="Введите пароль">
					<br>
					<input class="login_button" type="submit" value="Войти">
				</form>


			</div>

<!--			<p style="font-size: 50px; margin-left: 45%; background-color: white; border-radius: 5px; color: green; height: 79px; min-width: 300px">-->
<!--				1. Скорость работы-->
<!--			</p>-->
<!--			<p style="font-size: 50px; margin-left: 45%; background-color: white; border-radius: 5px; color: green; height: 79px; min-width: 300px">-->
<!--				2. Удобство-->
<!--			</p>-->
<!--			<p style="font-size: 50px; margin-left: 45%; background-color: white; border-radius: 5px; color: green; height: 79px; min-width: 300px">-->
<!--				3. Функциональность-->
<!--			</p>-->
<!--			<p style="font-size: 50px; margin-left: 45%; background-color: white; border-radius: 5px; color: green; height: 79px; min-width: 300px">-->
<!--				4. Автоматизация-->
<!--			</p>-->
			<p style="font-size: 50px; margin-left: 45%; background-color: white; border-radius: 5px; color: green; height: 79px; min-width: 300px">
				5. Удобная мобильная версия
			</p>
<!--			<p style="font-size: 50px; margin-left: 45%; background-color: white; border-radius: 5px; color: green; height: 79px; min-width: 300px">-->
<!--				6. Заявка-->
<!--			</p>-->

		</div>
	</body>
	<footer>
		<script th:src="@{/js/js_pages/home.js}" type="text/javascript"></script>
	</footer>
</html>
