<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<!--------------------------------HEADER--------------->
		<div th:insert="fragments/headers/header :: home"></div>
		<!----------------------------------------------------->
	</head>
	<body>
		<div class="main">

			<!-------------------------------- Filters SEARCHER	------------------------------------->
<!--			<div th:insert="content/home/fragments/top_block/search_user_block::users_searcher"></div>-->
			<!--------------------------------------------------------------------------------------->

<!--			<div id="userID" >-->

<!--				<table>-->
<!--					<tr>-->
<!--						<td width="60px"></td>-->
<!--						<td width="378px">-->
<!--							<span th:if="${person}"-->
<!--								  th:text="${person.getName}"></span>-->
<!--						</td>-->
<!--						<td width="60px" >-->
<!--							<form th:action="@{/logout}" method="post">-->
<!--								<input type="submit" id="logout" value="">-->
<!--							</form>-->
<!--						</td>-->
<!--					</tr>-->
<!--				</table>-->

<!--			</div>-->
			<!----------------------HOME AND LOGOUT BUTTON---------------->
			<div th:insert="fragments/common/home_button :: go_home"></div>
			<!------------------------------------------------------------>

<!--			<div class="search_block">-->
<!--				<div class="filters_users"></div>-->

<!--				<form action="/api/searcher/find/expert_query" method="GET">-->
<!--					<input type="text" class="searcher" maxlength="30"-->
<!--						   name="wanted"-->
<!--						   placeholder="заявка, адрес, телефон, имя...">-->

<!--					<input type="submit" class="searching" value="найти">-->
<!--				</form>-->

<!--			</div>-->

			<!--------------------EXPERTS SEARCHER-------------------------------->
			<div th:insert="fragments/home/search_blocks :: expert_searcher"></div>
			<!-------------------------------------------------------------------->

			<table id="threeBlocksTable">
				<tr>
					<td class="leftSideTBT">

						<div id="leftHeader" class="blockHeader"><p><b>ВСЕ ФИЛЬТРЫ</b></p></div>
						<div id="allFiltersDiv" class="keepers">

							<table class="colored_leads_table" id="left_all_contracts_block">
								<tr th:each="filter : ${allFilters}">
									<td>
										<a th:href="@{'/api/home/expert/' + ${filter.key} }"
										   th:text="${filter.key}"
										   th:class="${hilightedFilter}==${filter.key} ? hilight_lead_filter : lead_filters"></a>
									</td>
								</tr>
							</table>

						</div>

					</td>
					<td class="centerTBT">

						<div id="board">

							<!--------------------------------TASKS-------------------->
							<div th:insert="fragments/home/board :: expert_tasks"></div>
							<!--------------------------------------------------------->

							<!--------------------------------TASKS--------------------------->
							<div th:insert="fragments/home/board :: simple_announcement"></div>
							<!---------------------------------------------------------------->

						</div>

					</td>
					<td class="rightSideTBT">

						<div id="rightHeader" class="blockHeader"><p><b>АКТИВНЫЕ ЗАЯВКИ</b></p></div>
						<div id="applications" class="keepers">

							<!--------------------------------COLORED LEADS-------------->
							<div th:insert="fragments/home/colored_leads :: expert"></div>
							<!----------------------------------------------------------->

						</div>
					</td>
				</tr>
			</table>

			<!--------------------------------ALL LEADS HOME TABLE--------------->
			<div th:insert="fragments/home/leads_table :: leads_table"></div>
			<!------------------------------------------------------------------->

		</div>
	</body>
	<!---------------------footer-------------------------->
	<div th:insert="fragments/footers/footer :: home"></div>
	<!----------------------------------------------------->
</html>
