<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<!-------------------------------- HEADER	-------------------->
		<div th:insert="fragments/headers/header::changeable_pages"></div>
		<!-------------------------------------------------------------->
	</head>
	<body>
	<div class="main">

		<!----------------------HOME AND LOGOUT BUTTON---------------->
		<div th:insert="fragments/common/home_button :: go_home"></div>
		<!------------------------------------------------------------>
		<!------------------------------------TOP LABELS------------------------------------------>
		<div th:insert="fragments/pages/attic/labels :: juridical"></div>
		<!---------------------------------------------------------------------------------------->

		<!----------------------------UNDER LABEL LEAD INFO------------------------>
		<div th:insert="fragments/pages/attic/under_label :: brief_lead_info"></div>
		<!------------------------------------------------------------------------->



			<div id="content" th:object="${juristInfo}">

				<!--------------------------------1.1-1.2-------------------------------------------------------->
				<div th:insert="fragments/pages/page_1_flat_bits/unchangeable/flat_1.1_client_1.2_object_un :: lead_obj"></div>
				<!----------------------------------------------------------------------------------------------->

				<!-------------------------------- 3.3	------------------------------------------------------------->
				<div th:insert="fragments/pages/page_3_juridical_bits/juridical_3.3_property_ch::tbl_3_3"></div>
				<!--------------------------------------------------------------------------------------------------->

				<!-------------------------------- 3.4.1	---------------------------------------------------------->
				<div class="central_container">
					<div class="table_header"><p> 3.4. Документы </p></div>

					<div class="main_foto_div">

						<form action="/api/update/juridical/delete_docs" method="POST">
							<!------------------------------------------------------------->
							<div th:insert="fragments/pages/fotos/album :: page_foto"></div>
							<!------------------------------------------------------------->

							<input type="hidden" name="leadId" th:value="${lead.getId}">
						</form>
					</div>

				</div>

				<!---------------------------------------	 3.4.2 buttons	----------------------->
				<form enctype="multipart/form-data" action="/api/update/juridical/upload_docs" method="POST" >

					<!-------------------------------- 1.5.2	----------------------------------->
					<div th:insert="fragments/pages/fotos/buttons :: download_upload_buttons"></div>
					<!----------------------------------------------------------------------------->

					<input type="hidden" name="leadId" th:value="${lead.getId}">

				</form>
				<!--------------------------------------------------------------------------------->

				<!-------------------------------- 3.5	------------------------------------------------------------->
				<div th:insert="fragments/pages/page_3_juridical_bits/juridical_3.5_all_docs_ch::tbl_3_5"></div>
				<!--------------------------------------------------------------------------------------------------->

				<!-------------------------------- 3.6	------------------------------------------------------------->
				<div th:insert="fragments/pages/page_3_juridical_bits/juridical_3.6_contract_ch::tbl_3_6"></div>
				<!--------------------------------------------------------------------------------------------------->

				<!-------------------------------- 3.7	--------------------------------------------------------------->
				<div th:insert="fragments/pages/page_3_juridical_bits/juridical_3.7_prepayment_ch::tbl_3_7"></div>
				<!----------------------------------------------------------------------------------------------------->

				<!--- BOOTOM COMFORT BLOCK 	----------->
				<div class="bottom_comfort_block"></div>
				<!------------------------------------->

			</div>
		<!--------------------------------------   end content   ------------------------------------------->
	</div>
	<!----------------------------------------    end of main block  ----------------------------------------->
	</body>
	<!---------------------------------FOOTER------------------------>
	<div th:insert="fragments/footers/footer::changeable_pages"></div>
	<!--------------------------------------------------------------->
</html>
